#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# to build on debian/ubuntu we need the following package:
# sudo apt-get install debhelper

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Debhelper compatibility level - must match debian/compat
export DH_COMPAT=13

build: build-stamp
build-stamp:
	dh_testdir
	# noop
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	# noop
	dh_clean

# Build architecture-independent files here.
binary-indep: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# The DESTDIR Has To Be Exactly debian/upgrade-ux
	mkdir -vp \
		debian/upgrade-ux/etc/opt/upgrade-ux/ \
		debian/upgrade-ux/opt/upgrade-ux/bin/ \
		debian/upgrade-ux/opt/upgrade-ux/lib/ \
		debian/upgrade-ux/opt/upgrade-ux/scripts/ \
		debian/upgrade-ux/usr/share/man/man8/ \
		debian/upgrade-ux/var/opt/upgrade-ux/

	# copy upgrade-ux components into directories
	cp -av ../../etc/opt/upgrade-ux/. debian/upgrade-ux/etc/opt/upgrade-ux/
	cp -av ../../opt/upgrade-ux/bin/. debian/upgrade-ux/opt/upgrade-ux/bin/
	cp -av ../../opt/upgrade-ux/lib/. debian/upgrade-ux/opt/upgrade-ux/lib/
	cp -av ../../opt/upgrade-ux/scripts/. debian/upgrade-ux/opt/upgrade-ux/scripts/

	# update man page with correct locations
	install -Dp -m0644 ../../opt/upgrade-ux/man/upgrade-ux.8 debian/upgrade-ux/usr/share/man/man8/upgrade-ux.8

	# --- end custom part for installing

	dh_installdeb
	dh_installdocs ../../README* ../../opt/upgrade-ux/doc/*
	dh_installchangelogs
	find debian/upgrade-ux -name ".git*" -exec rm {} \;
	rm -f debian/upgrade-ux/usr/share/doc/upgrade-ux/Makefile
	rm -f debian/upgrade-ux/usr/share/doc/upgrade-ux/upgrade-ux.8.txt
	rm -f debian/upgrade-ux/usr/share/doc/upgrade-ux/user-guide/Makefile
	rm -f debian/upgrade-ux/usr/share/doc/upgrade-ux/upgrade-ux.8
	dh_link
	dh_fixperms
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary
