name: Build Linux Packages
on:
        #  schedule:
        #- cron: '25 23 * * *'
  push:
    branches: [ "master" ]
    # Publish semver tags as releases.
    tags: [ '*.*' ]
  pull_request:
    branches: [ "master" ]

env:
  DIST: el9
  ARCH: x86_64

jobs:
  build_tarball:
    name: Build source archive
    runs-on: ubuntu-latest
    outputs:
      ver: ${{ steps.ver.outputs.VERSION }}
      gitdate: ${{ steps.gitdate.outputs.GITDATE }}
      distversion: ${{ steps.distversion.outputs.DISTVERSION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # Grab the versionnr to use in the main script
      - name: Grab the VERSION number in upgrade-ux main script
        id: version
        run: |
          echo "VERSION=$(grep ^VERSION= opt/upgrade-ux/bin/upgrade-ux | cut -d= -f2)" >> $GITHUB_ENV

      - name: Set the DISTVERSION variable
        id: distver
        run: |
          git_date=$(git log -n 1 --format="%ai")
          date=$(date --date="$git_date" +%Y%m%d%H%M)
          echo "DISTVERSION=$VERSION-git$date" >> $GITHUB_ENV
          echo "GITDATE=git$date" >> $GITHUB_ENV
 
      - name: Save the DISTVERSION to GITHUB_OUTPUT to use in job build_rpm
        id: distversion
        run: echo "DISTVERSION=$DISTVERSION" $GITHUB_OUTPUT

      - name: Save the VERSION to GITHUB_OUTPUT to use in job build_rpm
        id: ver
        run: echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Save GITDATE to GITHUB_OUTPUT to use in another job as well
        id: gitdate
        run: echo "GITDATE=$GITDATE" >> $GITHUB_OUTPUT

      - name: Replace version in RPM spec so correct source is downloaded when building RPM
        run: |
          cd packaging/Linux
          sudo apt-get -qq update && sudo apt-get -qq install ronn ksh
          make dist

      - name: Upload source archive as artifact
        uses: actions/upload-artifact@v6
        with:
          name: upgrade-ux-${{ env.DISTVERSION }}.tar.gz
          path: upgrade-ux-${{ env.DISTVERSION }}.tar.gz

  build_rpm:
    name: Build .rpm package
    needs: build_tarball
    runs-on: ubuntu-latest
    env:
      GITDATE: ${{ needs.build_tarball.outputs.gitdate }}
      VERSION: ${{ needs.build_tarball.outputs.ver }}
      DISTVERSION: ${{ needs.build_tarball.outputs.distversion }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Replace version in RPM spec so correct source is downloaded when building RPM
        id: make_dist
        run: |
          cd packaging/Linux
          sudo apt-get -qq update && sudo apt-get -qq install ronn ksh
          make dist

      - name: Run rpmbuild on RPM spec to produce package
        id: make_rpm
        run: |
          cd packaging/Linux
          sudo apt-get -qq update && sudo apt-get -qq install ronn ksh
          make rpm

      - name: Upload .rpm package as artifact
        uses: actions/upload-artifact@v6
        with:
          name: upgrade-ux-${{ env.VERSION }}-1.${{ env.GITDATE }}.${{ env.DIST }}.${{ env.ARCH }}.rpm
          path: packaging/Linux/*.rpm

  build_deb:
    name: Build .deb package
    needs: [build_tarball, build_rpm]
    runs-on: ubuntu-latest
    env:
      GITDATE: ${{ needs.build_tarball.outputs.gitdate }}
      VERSION: ${{ needs.build_tarball.outputs.ver }}
      DISTVERSION: ${{ needs.build_tarball.outputs.distversion }}
    steps:
      - name: Download .rpm artifact
        uses: actions/download-artifact@v7
        id: download
        with:
          name: upgrade-ux-${{ env.VERSION }}-1.${{ env.GITDATE }}.${{ env.DIST }}.${{ env.ARCH }}.rpm

      - name: find .
        run: find .

      - name: Convert .rpm to .deb
        run: |
          sudo apt-get -qq update && sudo apt-get -qq install alien
          sudo alien -k --verbose --to-deb *.rpm
      - name: find .
        run: find . -exec readlink -f {} \;

      - name: Upload .deb package as artifact
        uses: actions/upload-artifact@v6
        with:
          name: upgrade-ux-${{ env.VERSION }}-1.${{ env.GITDATE }}.${{ env.DIST }}.${{ env.ARCH }}.deb
          path: upgrade-ux*.deb

  release:
    name: Create release with all assets
    needs: [build_tarball, build_rpm, build_deb]
    runs-on: ubuntu-latest
    env:
      GITDATE: ${{ needs.build_tarball.outputs.gitdate }}
      VERSION: ${{ needs.build_tarball.outputs.ver }}
      DISTVERSION: ${{ needs.build_tarball.outputs.distversion }}
    steps:
      - name: Download .rpm artifact
        uses: actions/download-artifact@v7

      - name: find .
        run: find .

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            upgrade-ux-${{ env.DISTVERSION }}.tar.gz/*.tar.gz
            upgrade-ux-${{ env.VERSION }}-1.${{ env.GITDATE }}.${{ env.DIST }}.${{ env.ARCH }}.rpm/*.rpm
            upgrade-ux-${{ env.VERSION }}-1.${{ env.GITDATE }}.${{ env.DIST }}.${{ env.ARCH }}.deb/*.deb
          tag_name: ${{ env.GITDATE }}
